In [1]:
import pandas as pd
import numpy as np

In [2]:
# Sample historical returns data
# Example: historical daily returns for three assets
data = {
    'Asset1': np.random.normal(0.001, 0.02, 1000),
    'Asset2': np.random.normal(0.0005, 0.015, 1000),
    'Asset3': np.random.normal(0.0008, 0.025, 1000)
}
df = pd.DataFrame(data)
df

       Asset1    Asset2    Asset3
0    0.021571  0.017079 -0.023390
1    0.042741  0.007914 -0.009154
2    0.003161 -0.019893  0.001803
3    0.014965 -0.011552 -0.004347
4    0.032694  0.011299  0.016671
..        ...       ...       ...
995 -0.006711 -0.007081  0.005274
996  0.010110  0.001325  0.029057
997 -0.009336 -0.019994  0.010386
998  0.009379 -0.008191 -0.018949
999 -0.052021 -0.025179  0.038719

[1000 rows x 3 columns]

In [3]:
# Define portfolio weights (example weights - should sum to 1)
weights = np.array([0.5, 0.3, 0.2])
weights

array([0.5, 0.3, 0.2])

In [5]:
# Portfolio value and simulation
initial_portfolio_value = 1000000  # Initial portfolio value in USD

In [9]:
# Calculate portfolio values based on historical returns
portfolio_values = initial_portfolio_value * (1 + np.dot(df, weights))
print(portfolio_values[:5])

[1011231.41732734 1021913.82984601  995973.45037149 1003147.56268282
 1023070.72863593]

In [10]:
# Assuming a liquidity threshold (e.g., 10% of the initial portfolio value)
liquidity_threshold = 0.1 * initial_portfolio_value
liquidity_threshold

100000.0

In [11]:
# Minimum portfolio value during the historical period
min_portfolio_value = np.min(portfolio_values)
min_portfolio_value

965557.2060220052

In [12]:
# Check if the portfolio value drops below the liquidity threshold
if min_portfolio_value < liquidity_threshold:
    print("Portfolio faced liquidity stress during the historical period.")
    print(f"Minimum Portfolio Value: {min_portfolio_value}")
else:
    print("Portfolio maintained liquidity above the threshold during the historical period.")

Portfolio maintained liquidity above the threshold during the historical period.